* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: black;
    
}

body {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 28px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: aquamarine;
    letter-spacing: 4px;
    
}

header:hover {
    transform: scale(1.2);
  }

/* nav content */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul li a:hover {
    font-size: 1.2em;
}

section {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}

/* table content */
table {
    margin: 0 auto;
    background-color: #FFC0CB;
    border-radius: 10px;
}

/* footer content */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.social-media li {
    margin: 0 20px;
}

.social-media a {
    text-decoration: none;
    color: black;
    font-size: 44px;
}

