* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: black;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
   
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a:hover {
    font-size: 1.2em;
}

section {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}

table {
    margin: 0 auto;
    background-color: aquamarine;
}

footer {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

